.div-backgroud {
    background-image: url('https://www.bing.com/th?id=OIP.asv-BHIktd8zRuIvnx0_zQHaCb&pid=Api');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}